*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 30px;
    
}
.head ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    

}
a{
    text-decoration: none;
    color: black;
}
.head ul li img{
    width: 30px;
}
.head ul li button{
    background-color: dodgerblue;
    padding: 8px 14px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    

}
.logo{
    width: 30vw;
}
.search{
    padding: 13px;
    width: 50%;
    border-radius: 30px;
    border: 1px solid rgb(128, 116, 116);
    outline: none;
    font-size: 16px;
}
.icons{
    display: flex;
    position: absolute;
    top: 0;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 0 10px;
    
    
}
#main .icons .first{
    width: 25px;
    margin-left: 15px;
}
#main .icons .second{
    width: 20px;
    margin-right: 15px;

}
.searchbox{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
#main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.buttons button{
    padding: 10px;
    border: none;
    border-radius: 1px solid transparent;
    outline: none;
    cursor: pointer;
    color: rgb(78, 76, 76);
    margin: 8px;
}
.langguage{
    color: rgb(96, 91, 91);;
}
.row{
    display: flex;
    justify-content: space-between;
    border-top: rgba(0, 0, 0, 0.05);
    
}
#footer{
    
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(223, 218, 218);
    padding: 10px;
    
}
.row ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 5px;
    
}
.row ul a{
    color: rgb(75, 74, 74);
}