table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
div>h1{
    background-color: red;
    /* display: inline; */
    
}
.first{
    background-color: aqua;
    width: 200px;
    height: 100px;
}
